<div class="fix">

    <div class="form-login">
    <mat-card>
        <mat-card-content class="gap10">

            <h1>Register</h1>

              <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput [formControl]="emailFormControl" [(ngModel)]="email">
                <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" >
                <mat-error *ngIf="passwordFormControl.invalid">{{ getPasswordErrorMessage()}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>


              <div mat-dialog-actions class="gap10">
                <button mat-raised-button routerLink="/login">Cancel</button>
                <button mat-raised-button (click)="signIn()">Sign In</button>
              </div>


        </mat-card-content>
    </mat-card>
    </div>


</div>