<mat-card>
    <mat-card-content class="user-detail-header">

      <button [matMenuTriggerFor]="usermenu" mat-icon-button class="pin-right-upper-corner">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item (click)="editUser()">Edit</button>
      </mat-menu>
        <img src="/assets/img/1.webp" alt="" srcset="">

        <div class="user-details">
            <h2>{{user.firstName}} {{user.lastName}} </h2>
            <br>
            {{user.email}} <br>
        </div>
    </mat-card-content>
  </mat-card>


  <mat-card class="mt-32">
    <mat-card-content>
        <button [matMenuTriggerFor]="addressmenu" mat-icon-button class="pin-right-upper-corner">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #addressmenu="matMenu">
            <button mat-menu-item (click)="editAddress()">Edit</button>
          </mat-menu>
    <mat-card-title>Address</mat-card-title>
    <p>{{user.street}} <br> {{user.zipCode}} {{user.city}}</p>
    </mat-card-content>
  </mat-card>
