<div class="gap10 column">
<mat-card class="height">
    <p>Dashboard</p>
  </mat-card>

  <mat-card class="sub">
    <p>User</p>
  </mat-card>

  <div class="gap10 wrap">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>All</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountUser}}
          </p>
        </mat-card-content>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Attack</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountAttack}}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Midfield</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountMidfield}}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Defense</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountDefense}}
          </p>
        </mat-card-content>
      </mat-card>
  </div>

  <mat-card class="sub">
    <p>Customer</p>
  </mat-card>

  <div class="gap10 wrap">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>All</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountCostumer}}
          </p>
        </mat-card-content>
      </mat-card>


      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Prio A</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountA}}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Prio B</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountB}}
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Prio C</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{amountC}}
          </p>
        </mat-card-content>
      </mat-card>
  </div>


</div>