

.form-login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

mat-card{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    @media (max-height: 414px) {
        height: 320px;
      }

}

mat-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        color: black;
    }
}

mat-form-field{
    width: 100%;
}