.fix{
    background-image: url(/assets/img/blue-1634110_1920.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.form-login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

mat-card{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

mat-card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        color: black;
    }
}

mat-form-field{
    width: 100%;
}