<div class="fix">

    <div class="form-login">
    <mat-card>
        <mat-card-content class="gap10">

            <h1>Login</h1>

              <mat-form-field appearance="outline">
                <mat-label>Enter your email</mat-label>
                <input matInput  [formControl]="email" required >
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>


              <div mat-dialog-actions class="gap10">
                <button mat-raised-button >Register</button>
                <button mat-raised-button >Login</button>
              </div>

              <div mat-dialog-actions>
                <button mat-raised-button (click)="guestLog()">Guest Log</button>
              </div>
        </mat-card-content>
    </mat-card>
    </div>


</div>
