mat-card{
    background: rgba(255,255,255,.15);
    color: white;
    max-height: 55vh;
    table{
        background-color: transparent;
        tr{
            color: white;
        }
    }

    p{
        font-size:50px;
        text-align: center;
    }

}

.mobile{
    @media (max-height: 415px) {
        display: flex;
        height: 16.9vh;

        mat-card{
            height: 11vh;
            width: 50vw;
        }

        mat-mdc-form-field{
            height: 21vh;
        }
      }
  }

.mat-mdc-form-field-subscript-wrapper {

    @media (max-height: 415px) {
        height: 0vh;
    }
}




.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }



button{
    background-color: rgba(255,255,255,.15);
    color: white;
}

mat-card-content{
    padding-left: 0;
    padding-right: 0;
    overflow-y: scroll;

}


.button-container{
    position: absolute;
    bottom: 40px;
    right: 30px;
    @media (max-height: 415px) {
        bottom: 22px;
        right: 0px;
    }
}

.user-table{
    width: 100%;
    border-collapse: collapse;

    tr{
        border-bottom: 1px solid rgba(0,0,0,0.4);
        


        &:last-child{
            border-bottom: 0;
        }

        td{
            height: 48px;

            &:first-child{
                padding-left: 16px;
            }
        }
        cursor: pointer;


        &:hover{
            background-color: rgba(0,0,0,0.04);
        }

    }



    th{
        text-align: start;
        color: #7D99AC;
        font-size: 14px;
        font-weight: 800;
        &:first-child{
            padding-left: 16px;
        }

        &:first-child{
            cursor: unset;
            &:hover{
                background-color: unset;
            }
        }
    }
}

