.mat-drawer-container{
    height: 90vh;
    background: rgba(0, 0, 0, 0.08);
}

mat-toolbar{
    background: rgba(0, 0, 0, 0.08);
    color: white;
}

.mat-drawer{
    background: rgba(0, 0, 0, 0.08);
    border: unset;
    color: white;
}

.mat-drawer.mat-drawer-side{
    z-index: 0;
}

.pointer{
    cursor: pointer;
}

.sidenav{
    width: 150px;
}

.menu-item{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li{
        padding-left: 16px;
        padding-right: 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(0,0,0,0.1);
        }
    }


}


.router-container{
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 16px;
}




