

<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="pointer" (click)="drawer.toggle()">menu</mat-icon>
    <span>Simple CRM</span>
  </mat-toolbar-row>
</mat-toolbar>
  <mat-drawer-container class="mat-drawer-container" autosize>

    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">



      <ul class="menu-item">
        <li routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLink="/user"><mat-icon>account_circle</mat-icon>User</li>
        <li routerLink="/customers"><mat-icon>groups</mat-icon>Customers</li>
        <li routerLink="/products"><mat-icon>inventory</mat-icon>Products</li>
        <li routerLink="/supplier"><mat-icon>policy</mat-icon>Legal Notice</li>
        <li routerLink="/logout"><mat-icon>logout</mat-icon>Log-Out</li>
      </ul>
      
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <div class="router-container">
      <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-container>


