/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.gap10 {
    display: flex;
    gap: 10px;
}

.width100{
    width: 100%;
}

.mt-32{
    margin-top: 32px;
}


body{
    background-image: url(/assets/img/blue-1634110_1920.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(255,255,255,.15);
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
  border: 3px solid transparent;
   background-clip: content-box;
    background-color: #7C96A4;
}

h1{
    color: white;
    font-size: 50px;
}

.height{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

